@model System.Collections.Generic.List<TodoApp.Models.TodoItem>

<h1>Completed todos</h1>

@if (!Model.Any())
{
    <h4>Nothing completed :(</h4>
}

@foreach (var todo in Model)
{
    @Html.Partial("TodoItem", todo)
}

<a asp-action="Index">Back</a>