@model System.Collections.Generic.List<TodoApp.Models.TodoItem>


<h1>Active Todos</h1>
<div>
    <a asp-action="Add">Add new todo <span class="glyphicon glyphicon-plus-sign"></span></a> &nbsp;
    <a asp-action="Completed">See completed <span class="glyphicon glyphicon-briefcase"></span></a>
</div>
<hr/>

@foreach (var todo in Model)
{
    @Html.Partial("TodoItem", todo)
}

@await Component.InvokeAsync("LastTodosComponent", new {n = 10})